.wrapper{
    width: 420px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 4px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;

}

.input-box input ::placeholder{
    color:#fff;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content:space-between;
    font-size: 16px;
    margin: 5px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin: 5px;
}

.remember-forgot a{
    color: rgb(17, 120, 215);
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper button{
    width: 100%;
    height: 50px;
    margin: 10px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

.wrapper .register-link{
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    color: rgb(17, 120, 215);
    
}
