.wrapper h1{
    font-size: 50px;
    text-align: left;
    -ms-grid-row-align: center;
    row-gap: 3rem;
    margin-top: 10rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    max-height: 40vh;
    align-self:flex-start;
    color: black;
}
.wrapper{
    min-height: 10vh;
    align-items: center;
}
body{
    margin-inline-start: 1rem;
    text-align:center;
    background-color: lavender;
    max-height: 50vh;
    font-size: xx-large;
    align-self: center;
}